<!DOCTYPE html>
<html>
    <hrad>
    <meta charset="utf-8">
            <title>About Page Gkan</title>
    </hrad>
    <body>
{{> header}}

<p>Some about text here </p>

{{> navmenu}}
{{> footer}}
    </body>
</html>