<!DOCTYPE html>
<html>
    <hrad>
    <meta charset="utf-8">
            <title>Home Page Gkan</title>
    </hrad>
    <body>
{{> header}}

<p>{{screamit welcomeMessage}}</p>

{{> navmenu}}
{{> footer}}
    </body>
</html>