<!DOCTYPE html>
<html>
    <hrad>
    <meta charset="utf-8">
            <title>Home Page Gkan</title>
    </hrad>
    <body>
<h1>We will be Back Soon</h1>
<p>This site is curently updated</p>
    </body>
</html>